<div class="login-container">

  <div class="left-panel"
    [style.background-image]="'linear-gradient(rgba(10, 37, 64, 0.85), rgba(10, 37, 64, 0.85)), url(' + images[currentImageIndex] + ')'">
    <div class="brand">
      <i class="fa-solid fa-graduation-cap"></i><a class="link" routerLink="/">EduConecta</a>
    </div>

    <div class="left-content">
      <h1>Conectando toda a comunidade escolar</h1>
      <p>Centralize comunicação, atividades, calendário e avisos em um único portal.</p>

      <div class="carousel-controls">
        <div class="dots">
          <span *ngFor="let img of images; let i = index" class="dot" [class.active]="currentImageIndex === i"
            (click)="setCurrentImage(i)">
          </span>
        </div>
        <div class="arrows">
          <button class="arrow-btn" type="button" (click)="prevImage()">
            <i class="bi bi-caret-left"></i>
          </button>
          <button class="arrow-btn" type="button" (click)="nextImage()">
            <i class="bi bi-caret-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="right-panel">
    <div class="right-content-wrapper">

      <div class="login-card">
        <div class="card-header">
          <div class="logo-icon">
            <i class="fa-solid fa-graduation-cap"></i>
          </div>
          <h2>Bem-vindo(a)!</h2>
          <p>Plataforma de Comunicação e Gestão Escolar</p>
        </div>

        <form id="loginForm">
          <div class="input-group">
            <label for="username">CPF ou Matrícula</label>
            <div class="input-wrapper">
              <i i class="bi bi-person input-icon"></i>
              <input type="text" id="username" placeholder="Digite seu CPF ou matrícula" required>
            </div>
          </div>

          <div class="input-group">
            <label for="password">Senha</label>
            <div class="input-wrapper">
              <i class="bi bi-lock input-icon"></i>
              <input type="password" id="password" placeholder="Digite sua senha" required>
              <i class="bi bi-eye toggle-password" id="togglePassword"></i>
            </div>
          </div>

          <div class="form-options">
            <label class="remember-me">
              <input type="checkbox" id="remember">
              <span>Lembrar de mim</span>
            </label>
            <a href="#" class="forgot-password">Esqueci minha senha</a>
          </div>

          <button type="submit" class="btn btn-primary">Entrar</button>
          <button type="button" class="btn btn-outline">Primeiro Acesso</button>
        </form>
      </div>

      <div class="demo-section">
        <h3>ACESSOS PARA DEMONSTRAÇÃO</h3>
        <p>Clique em um perfil para preencher automaticamente</p>

        <div class="demo-grid">
          <div class="demo-card" data-user="admin@educonecta.com" data-pass="Admin@123">
            <div class="demo-icon color-1"><i class="bi bi-person-workspace"></i></div>
            <div class="demo-info">
              <h4>Administrador Estadual</h4>
              <p>Secretaria Estadual</p>
              <hr>
            </div>
          </div>
          <div class="demo-card" data-user="direcao.modelo" data-pass="Direcao@123">
            <div class="demo-icon color-2"><i class="bi bi-person-gear"></i></div>
            <div class="demo-info">
              <h4>Direção Escolar</h4>
              <p>Colégio Estadual...</p>
              <hr>
            </div>
          </div>
          <div class="demo-card" data-user="prof.matematica" data-pass="Professor@123">
            <div class="demo-icon color-3"><i class="bi bi-book-half"></i></div>
            <div class="demo-info">
              <h4>Professor</h4>
              <p>Colégio Estadual...</p>
              <hr>
            </div>
          </div>
          <div class="demo-card" data-user="2023001458" data-pass="Aluno@123">
            <div class="demo-icon color-4"><i class="bi bi-backpack2"></i></div>
            <div class="demo-info">
              <h4>Aluno</h4>
              <p>Colégio Estadual...</p>
              <hr>
            </div>
          </div>
          <div class="demo-card" data-user="responsavel.joao" data-pass="Responsavel@123">
            <div class="demo-icon color-5"><i class="bi bi-people-fill"></i></div>
            <div class="demo-info">
              <h4>Responsável</h4>
              <p>Resp. por João Po...</p>
              <hr>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="app.js"></script>